<div style="margin-bottom: 60px" class="animated fadeIn">
	<div class="col-lg-3 col-sm-4 col-xs-12 animated fadeIn">
		<a href="/">
			<img style="margin-top:50px" class="center-block" height="200px" src="img/polymer-logo.svg">
		</a>
	</div>
	<div class="col-lg-3 col-sm-8 col-xs-12  animated fadeIn">
		<a href="/">
			<img class="center-block" height="200px" src="img/ionic_logo.png">
		</a>
	</div>
	<div class="col-lg-3 col-sm-4 col-xs-12  animated fadeIn">
		<a href="/">
			<img class="center-block" height="200px" src="img/angularjs.png">
		</a>
	</div>
	<div class="col-lg-3 col-sm-8 col-xs-12  animated fadeIn">
		<a href="/">
			<img class="center-block" height="200px" src="img/react.png">
		</a>
	</div>
</div>
