<div class="col-lg-3 col-sm-4 col-xs-12 animated fadeIn">
	<a href="/html5">
		<img style="margin-top:50px" class="center-block" height="300px" src="img/html5Png.png">
	</a>
</div>
<div class="col-lg-3 col-sm-4 col-xs-12  animated fadeIn">
	<a href="/css">
		<img class="center-block" height="200px" src="img/css3Png.png">
	</a>
</div>
<div class="col-lg-3 col-sm-4 col-xs-12  animated fadeIn">
	<a href="/javascript">
		<img class="center-block" height="200px" src="img/javascriptPng.png">
	</a>
</div>
<div class="col-lg-3 col-sm-3 col-xs-12  animated fadeIn">
	<a href="/bootstrap">
		<img class="center-block" height="200px" src="img/bootstraPng.png">
	</a>
</div>
<div style="margin-bottom: 100px" class="col-lg-6 col-sm-3 col-xs-12  animated fadeIn">
	<a href="/foundation">
		<img class="center-block" height="200px" src="img/foundationPng.svg">
	</a>
</div>
